<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List page</title>
</head>
<body>
    List of items<br>
    <br>
    <br>
    <a href="home">Home</a>
    <a href="table">Table</a>
    <br>
    <br>
    <ul>
        <li th:each="item : ${items}"><a th:text="${item.getName()}" href="#"></a></li>
    </ul>
</body>
</html>