<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table page</title>
</head>
<body>
    Table of items<br>
    <br>
    <br>
    <a href="home">Home</a>
    <a href="list">List</a>
    <br>
    <br>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Company</th>
        </tr>
        <tr th:each="person: ${people}">
            <td th:text="${person.getFirstName()}"></td>
            <td th:text="${person.getLastName()}"></td>
            <td th:text="${person.getAge()}"></td>
            <td th:text="${person.getCompany()}"></td>
        </tr>
    </table>
</body>
</html>